* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 15vw;
    padding-left: 0px;
    margin: 0;
    margin-left: 15px;
}

h2 {
    font-size: 2vw;
    padding-left: 0px;
    margin: 0;
    margin-left: 30px;
    margin-top: 3vw;
}

p {
    font-size: 1.2vw;
    padding-left: 0px;
    margin: 0;
    margin-left: 30px;
}